.vscode/

*.dll
*.exe
*.amx

components/
filterscripts/

npcmodes/

*.ini
*.db

logs/

plugins/

*.so

bans.json
config.json
pawn.json
 
log.txt

omp-server

*.pdb
*.dmp
*.xsl

upgrader/
*.new
includes-license.md
includes-readme.md
qawno-readme.md
qawno-license.txt

_open_mp.inc
a_actor.inc
a_http.inc
a_npc.inc
a_objects.inc
a_players.inc
a_samp.inc
a_sampdb.inc
a_vehicles.inc
amx_assembly
qawno/include/core.inc
datagram.inc
file.inc
float.inc
string.inc
time.inc
args.inc
camera-sequencer.inc
CameraMover.inc
console.inc
omp_actor.inc
omp_checkpoint.inc
omp_class.inc
omp_core.inc
omp_database.inc
omp_dialog.inc
omp_gangzone.inc
omp_http.inc
omp_menu.inc
omp_network.inc
omp_npc.inc
omp_object.inc
omp_pickup.inc
omp_player.inc
omp_textdraw.inc
omp_textlabel.inc
omp_variable.inc
omp_vehicle.inc
open.mp.inc
